/** Lets add the font type from google fonts **/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/** here comes the container **/
.container{
    padding-left: 1rem;
    padding-right:1rem;
}

.container-center{
    max-width: 500px;
    margin: auto;
}

